@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "options"
        "footer";
    grid-template-rows: 10vh 80vh auto auto;
    grid-template-columns: 100%;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.isStart {
    background-color: #00ff2a;
}

.isEnd {
    background-color: #ff0000;
}

.isWall {
    background-color: #000000;
}

.isVisited {
    background-color: #7a007a;
}

.isPath {
    background-color: #00ffff;
}

.node {
    width: 20px;
    height: 20px;
    /* background-color: #bbb; */
    border: 0.25px solid #54536b;
    border-radius: 35%;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: #54536b;
    }
}

option {
    color: #333;
}